node_modules
dist
dist-ssr
*.local
01_Webspace_Ready_Strato_FTP

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.tsbuildinfo
lighthouse*.json
audit*.json